In [1]:
n=0
while n<10:
  print(n)
  n+=1
  if n==5:
    break

0
1
2
3
4

In [2]:
n=0
while n<5:
  print(n)
  n+=1
else:
  print(n," is not less than 5")

0
1
2
3
4
5  is not less than 5

In [3]:
fav_fruit=["strawberries","grapes","blueberries","apple"]
for fruit in fav_fruit:
  if fruit == "apple":
    print(fruit,"Is really a fruit?")
    break
  else:
    print("I like", fruit)

I like strawberries
I like grapes
I like blueberries
apple Is really a fruit?

In [4]:
n=30
num_sum=0
i=1
while i <= n:
  num_sum = num_sum + i
  i = i+1
print("The sum is",num_sum)

The sum is 465

In [5]:
grade = 92
if grade >= 90:
  print("A")
elif grade >= 80:
  print("B")
elif grade >= 70:
  print("C")
elif grade >= 60:
  print("D")
else:
  print("F")

A

In [6]:
marks = {"Andy":88,"Amy":66,"James": 90,"Jules": 55,"Arthur": 77}
for name, grade in marks.items():
  print(name,":",grade)

Andy : 88
Amy : 66
James : 90
Jules : 55
Arthur : 77

In [7]:
marks_avg = sum(marks.values()) / len(marks.values())
marks_max = max(marks.values())
marks_min = min(marks.values())
print(marks_avg,marks_max,marks_min)

75.2 90 55

In [8]:
for name in marks.keys():
  if name[0]=="J":
    break
  else:
    print(name)

Andy
Amy

In [9]:
for name in marks.keys():
  if name[0]=="J":
    continue
  else:
    print(name)

Andy
Amy
Arthur